<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">
            Recherche par nom
        </h5>
        <div class="row">
            <div class="col-6">
                <input #nom class="form-control" id="inputRechercheMail" aria-describedby="RechercheNomHelp"
                    placeholder="Entrez un nom">
            </div>
            <div class="col-6 text-center">
                <button (click)=rechercherPosts(nom.value)>Rechercher</button>
            </div>
        </div>
        <div *ngFor="let matricule of listeDeMatricules">
            <div class="row">
                <div class="col-6 col-sm-5 col-md-4 ">
                    <p class="card-text">matricule</p>
                </div>
                <div class="col-6 col-sm-7 col-md-8 ">
                    <a (click)=afficherCollegue(matricule)>
                        <p class="card-text">{{matricule}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>