<p>recherche-collegue-par-nom works!</p>

<div class="container">
    <div class="row">
        <div class="col-4">
            <p>Recherche par nom</p>
        </div>
        <div class="col-4">
            <input #saisie class="form-control" id="inputRechercheMail"
                aria-describedby="RechercheNomHelp" placeholder="Entrez un nom">
        </div>
        <div class="col-4">
        <a  href="#" class="btn btn-primary" (click)=rechercheCollegue(saisie.value)>Rechercher</a>
    </div>
    </div>
    <div *ngFor="let collegue of maListeDeCollegues">
            <div class="row" *ngIf="collegue.nom.substring(0,debutDuNomDuCollegue.length)==debutDuNomDuCollegue">
            <div class="col-6">
                <p>nom</p>
            </div>
            <div class="col-6">
                <p>{{collegue.nom}}</p> 
            </div>
        </div>
        </div>
</div>