.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    pointer-events: none;
    opacity : 0.5;
    text-decoration : none;
  }

  a{
    margin-top: 5%;
    margin-right: auto;
  margin-left: auto;
  }