<div class="container">

  <div class="card" >
    <div class="row">
        <div class="col-4">
    <img src="{{col.photoUrl}}" class="card-img img-fluid" alt="...">
  </div>
  <div class="col-8">
    <div class="card-body">
      <h5 class="card-title">{{col.nom | uppercase}}</h5>
      
      <div class="row">
          <div class="col-6">
            <p class="card-text">Nom : </p>
          </div>
          <div class="col-6">
            <p class="card-text">{{col.nom | uppercase}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="card-text">Prenom : </p>
          </div>
          <div class="col-6">
            <p class="card-text">{{col.prenoms}}</p>
          </div>
        </div>
          <div class="row">
            <div class="col-6">
            <p class="card-text">Matricule :</p>
          </div>
          <div class="col-6">
            <p class="card-text">{{col.matricule}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="card-text">Date De Naissance :</p>
          </div>
          <div class="col-6">
            <p class="card-text">{{col.dateDeNaissance |date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="card-text">Email : </p>
          </div>
          <div class="col-6">
            <p class="card-text" *ngIf="modification">{{col.email}}</p>
            <input *ngIf="!modification" type="email" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="card-text">url photo :</p>
          </div>
          
            <div class="col-6">
              <p class="card-text" *ngIf="modification">{{col.photoUrl.substr(0,10)}}</p>
              <input *ngIf="!modification" type="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter email">
            </div>
          
        </div>
        <a *ngIf="modification" href="#" class="btn btn-primary" (click)=modifierCollegue()>Modifier</a>
        <a *ngIf="!modification" href="#" class="btn btn-primary" (click)=validerCollegue()>Valider</a>
    </div>
  </div>
</div>
</div>


  
</div>

